body {
    background-color: lemonchiffon;
}

h1, h3{
    display: block;
    font-weight: bold;
    text-align: center;
    background-color: rgba(255, 246, 116, 0.582);

  }

  h1{
    font-size: 3em;
    border-bottom: 6px solid rgb(255, 208, 0);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 250px;
    margin-left: 250px;
  }

  h3 {
    border: 2px solid rgb(255, 208, 0);
    border-radius: 12px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 500px;
    margin-left: 500px;
  }